h1:hover {
  /* color: chocolate; */
  transition: all 1s ease;
  /* transform: rotate(1800deg); */
  transform: scale(1.3);
}

.hidden {
  transform: translate(-30%, 0);
}
.hidden:hover {
  transition: all 1s ease;
  transform: translate(0, 0);
}
